#catalog-details-section {
  padding: 20px 0;
}

.ec-catalog-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(225px, 1fr)
  ); /*  para repetir a cada 225px o card quando aumentar a tela*/
}

