@import url("styles.css");

#order-completed-section {
  padding: 20px 0;
}

.ec-confirmation-message {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-font-primary);
  text-align: center;
}

@media (min-width: 576px) {
  .ec-confirmation-message {
    font-size: 26px;
    text-align: left;
  }
}
