#product-listing-section {
  padding: 20px 0;
}

.ec-product-listing-image {
  display: block;
  width: 70px;
  height: 70px;
}

.ec-product-listing-btn {
  width: auto;
  height: 25px;
  cursor: pointer;
  margin: 5px;  
}
